<mat-card *ngIf="memory != undefined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{memory.name}}</mat-card-title>
        <mat-card-subtitle>{{memory.module_number}} x {{memory.module_size}} GB</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>{{memory.speed}} MHz</li>
        <li>DDR {{memory.ddr}}</li>
        <li>First word latency: {{memory.first_word_latency}} ns</li>
        <li>CAS latency: {{memory.cas_latency}} ns</li>
        <li>Ár: {{memory.price | dollarToHuf }}</li>
      </ul>
      <button color="accent" mat-raised-button [cdkCopyToClipboard]="memory.id">Azonosító másolása</button>
    </mat-card-content>
</mat-card>